<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Cocktail</title>
    <link rel="stylesheet" href="/styles/main.css">
    <style>
      .card {
        background-image: url("<%= strDrinkThumb %>");
      }
    </style>

</head>

<body>
    <h1 style="font-size: 45px; color: rgb(99, 243, 243)">Discover your  favorite cocktail recipe!</h1>
    <h2 style="color: rgb(99, 243, 243)">NOTE : Click button to discover your next cocktail</h2>
    <div class = "container">

      <div class="info1">
        <h1>   INFORMATIONS:</h1>
        <p>Name : <%= name %> </p>
        <p>Drink ID : <%= id %> </p>
        <p>Category : <%= category %> </p>
        <p>Alcholic : <%= alcholic %> </p>
        <p>Glass : <%= glass %> </p>
          
      </div>
      <div class="card">
      <p>
        <%= name %>
      </p>
    </div>
    <div class = "info2">
      <h1>INSTRUCTIONS: </h1>
      <p>
        <%= instructions %>
      </p>

      <h1 style="padding-top: 20px;">INGREDIENTS:</h1>
      <ul>
        <ul>
          <% ingredients.forEach(ingredient => { %>
            <li><%= ingredient.name %> <%= ingredient.measure ? ": " + ingredient.measure : "" %></li>
          <% }); %>
        </ul>
      </ul>
    </div>
    </div>
    <button class="custom-btn">
      RANDOM COCKTAIL
    </button>  
    
    <script src="/scripts/script.js"></script>
  </body>
</html>