<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Cocktail</title>
    <link rel="stylesheet" href="/styles/main.css">
    <style>
      .card {
        background-image: url("<%= strDrinkThumb %>");
      }
    </style>

</head>

<body>
    <h1 style="font-size: 45px; color: rgb(99, 243, 243)">Discover your  favorite cocktail recipe!</h1>
    <h2 style="color: rgb(99, 243, 243)">NOTE : Click button to discover your next cocktail</h2>
    <div class = "container">

      <div class="info1">
        <h1>   INFORMATIONS:</h1>
        <p>Name : <%= name %> </p>
        <p>Drink ID : <%= id %> </p>
        <p>Category : <%= category %> </p>
        <p>Alcholic : <%= alcholic %> </p>
        <p>Glass : <%= glass %> </p>
          
      </div>
      <div class="card">
      <p>
        <%= name %>
      </p>
    </div>
    <div class = "info2">
      <h1>INSTRUCTIONS: </h1>
      <p>
        <%= instructions %>
      </p>

      <h1 style="padding-top: 20px;">INGREDIENTS:</h1>
      <ul>
        <% if (i1) { %>
          <li><%= i1 %><%= measure1 ? " : " + measure1 : "" %></li>
        <% } %>
        <% if (i2) { %>
          <li><%= i2 %><%= measure2 ? " : " + measure2 : "" %></li>
        <% } %>
        <% if (i3) { %>
          <li><%= i3 %><%= measure3 ? " : " + measure3 : "" %></li>
        <% } %>
        <% if (i4) { %>
          <li><%= i4 %><%= measure4 ? " : " + measure4 : "" %></li>
        <% } %>
        <% if (i5) { %>
          <li><%= i5 %><%= measure5 ? " : " + measure5 : "" %></li>
        <% } %>
        <% if (i6) { %>
          <li><%= i6 %><%= measure6 ? " : " + measure6 : "" %></li>
        <% } %>
      </ul>
    </div>
    </div>
    <button class="custom-btn">
      RANDOM COCKTAIL
    </button>  
    
  </body>
</html>